.board-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 10px;
  grid-row-gap: 1em; */
}

.board-container__thead {
    font-weight: bold;
    text-align: center;
    margin: 0 10px 0 10px;
    border: 2px solid var(--base-gold);
    border-bottom: none;
    border-radius: 12px 12px 0 0;
    padding: 12px 0;
}

.board-container__column {
    width: 100%;
    min-width: 180px;
}

.board-container__column .board-container__icon {
    margin-left: 32px;
    color: green;
}

.board-container__column .board-container__icon--1 {
    color: blue;
}

.board-container__column .board-container__icon--2 {
    color: orangered;
}

.board-container__column .board-container__icon--3 {
    color: #ba55d3;
}

.board-container__column .board-container__icon--4 {
    color: gray;
}

.modal-title {
    width: 100%;
}

.modal .input-group-prepend {
    min-width: 100px;
}

.modal .input-group-text {
    color: grey;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
