.board-card {
    border: 2px solid var(--base-aquamarine);
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 8px;
    padding: 8px 0 0 0;
    width: 100%;
    overflow: hidden;
    background-color: var(--white);
    cursor: grab;
    min-width: 180px;
    animation: card-set 0.3s;
}

.board-card__title .board-card__icon {
    color: var(--edit-color);
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.board-card__title,
.board-card__level {
    padding: 0 10px;
}

.board-card__title {
    margin-bottom: 8px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.board-card__title--text {
    padding-right: 10px;
    word-break: break-word;
}

.board-card__changes {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.board-card__level {
    box-sizing: border-box;
    border-top: 2px solid var(--base-aquamarine);
    padding-top: 4px;
    background-color: var(--light-gray);
    color: var(--dim-gray);
    font-weight: bold;
    text-align: center;
}

.board-card__drugging {
    transform: rotate(3deg);
    transform-origin: 0 0 0;
    border: 2px solid var(--black);
    opacity: 0.5;
}

@keyframes card-set {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
