.btn.button {
    border: 1px solid var(--black);
}

.btn.button:hover {
    border: 1px solid var(--black);
}

button.btn-warning {
    border: 1px solid var(--black);
}

.button.btn-warning:hover {
    color: gray;
    border: 1px solid gray;
}

button.btn-success:hover {
    color: rgb(0, 0, 0);
}

button.btn--edit {
    max-height: 38px;
    margin-left: 10px;
}
