.currency .makeStyles-root-1 {
    width: 100% !important;
}

.currency .MuiAppBar-colorPrimary {
    background-color: var(--primary-light) !important;
}

.currency.currency--dark .MuiAppBar-colorPrimary {
    background-color: var(--primary-base) !important;
}

.currency label {
    margin: 0 !important;
}

.currency .ui.checkbox label {
    font-size: 18px !important;
}

.currency .currency--panel-item label {
    color: var(--black) !important;
}

.currency.currency--dark .ui.toggle.checkbox input:focus:checked ~ label,
.currency.currency--dark .ui.toggle.checkbox input ~ label {
    color: var(--white) !important;
}

.MuiTab-wrapper {
    color: var(--black);
    font-size: 14px;
}

.currency--dark .MuiTab-wrapper {
    color: var(--white);
}
