.currency .link--currency {
    opacity: 0.3;
    pointer-events: none;
}

.currency {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-light);
}

.currency.currency--dark {
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-base);
}

.currency__schema {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.currency--panel-item {
    background-color: var(--primary-light);
}

.currency.currency--dark .currency--panel-item {
    background-color: var(--primary-base);
}
