.modal-buttons {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 12px;
}

.modal__input {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.modal__input__empty {
    border: 2px solid orangered;
}

.modal__icon {
    cursor: pointer;
}

.modal__icon__skip {
    cursor: not-allowed;
}
