.index-page {
    display: block;
    width: 100%;
    overflow: hidden;
}

.index-page__block {
    display: none;
}

@media only screen and (min-width: 960px) {
    .index-page .moving--cursor__item {
        z-index: 10;
    }
    .index-page__block {
        display: block;
        cursor: none;
    }
    .main-page__title {
        width: 420px;
        text-align: center;
        z-index: 8;
    }
    .index-page .main-page-link__title {
        transition: 1s ease;
        color: #ffffff;
        -webkit-text-stroke: 2px black;
        text-shadow: black 0 0 2px;
        padding: 10px;
        font-size: 78px;
        cursor: none;
    }
    .index-page .main-page-link__title:hover {
        color: black;
        -webkit-text-stroke: 2px black;
        text-shadow: none;
    }
    .index-page .main-page-link:hover {
        text-decoration: none;
    }
    .main-page__title--left {
        position: absolute;
        top: calc(74vh - 30px);
        left: calc(26vw - 210px);
    }
    .main-page__title--right {
        position: absolute;
        top: calc(74vh - 30px);
        left: calc(74vw - 210px);
    }
    .main-page__title--top {
        position: absolute;
        top: 16%;
        left: calc(50vw - 210px);
    }
    .main-page__title--bottom {
        position: absolute;
        top: 50%;
        left: calc(50vw - 210px);
    }
    .main-page__title .main-page-link__title {
        color: #3cb371;
        -webkit-text-stroke: 2px green;
    }
    .main-page__title .main-page-link__title:hover {
        color: green;
        -webkit-text-stroke: 2px #006400;
    }
    /*.main-page__title--left .main-page-link__title {
      color: greenyellow;
      -webkit-text-stroke: 2px green;
      text-shadow: blueviolet 0 0 2px;
    }
    .main-page__title--left .main-page-link__title:hover {
      color: green;
      -webkit-text-stroke: 2px greenyellow;
      text-shadow: none;
    }
    .main-page__title--right .main-page-link__title {
      color: greenyellow;
      -webkit-text-stroke: 2px green;
      text-shadow: blueviolet 0 0 2px;
    }
    .main-page__title--right .main-page-link__title:hover {
      color: green;
      -webkit-text-stroke: 2px greenyellow;
      text-shadow: none;
    }
    .main-page__title--top .main-page-link__title {
      color: greenyellow;
      -webkit-text-stroke: 2px green;
      text-shadow: blueviolet 0 0 2px;
    }
    .main-page__title--top .main-page-link__title:hover {
      color: green;
      -webkit-text-stroke: 2px greenyellow;
      text-shadow: none;
    }*/
    .index-page__img {
        width: 840px;
        position: absolute;
        z-index: 3;
        visibility: hidden;
        object-fit: cover;
    }
    .index-page__img--top {
        top: 0;
        left: calc(50% - 420px);
    }
    .index-page__img--bottom {
        top: 25%;
        left: calc(50% - 420px);
    }
    .index-page__img--left {
        bottom: 0;
        left: calc(26vw - 420px);
    }
    .index-page__img--right {
        bottom: 0;
        left: calc(100vw - 900px);
    }
    .index-page__small-circle,
    .index-page__big-circle {
        box-sizing: border-box;
        background-color: transparent;
        border-radius: 50%;
        position: fixed;
        width: 10000px;
        height: 10000px;
    }
    .index-page__small-circle {
        z-index: 5;
        border: 5000px solid var(--white, #ffffff);
    }
    .index-page__big-circle {
        z-index: 20;
        border: 0 solid #f9f9f9;
        pointer-events: none;
    }
    .index-page__small-circle--left,
    .index-page__big-circle--left {
        left: calc(-5000px + 26vw);
        /*50vw - 24vw*/
        top: calc(-5000px + 72vh);
        /*50vh + 5vh + 20vh*/
    }
    .index-page__small-circle--right,
    .index-page__big-circle--right {
        left: calc(-5000px + 74vw);
        /*50vw + 24vw*/
        top: calc(-5000px + 72vh);
        /*50vh + 5vh + 20vh*/
    }
    .index-page__small-circle--top,
    .index-page__big-circle--top {
        left: calc(-5000px + 50vw);
        /*50vw*/
        top: calc(-5000px + 18vh);
        /*50vh + 5vh - 28vh*/
    }
    .index-page__small-circle--bottom,
    .index-page__big-circle--bottom {
        left: calc(-5000px + 50vw);
        top: calc(-5000px + 52vh);
    }
    .index-page__small-circle--bottom,
    .index-page__small-circle--top,
    .index-page__small-circle--left,
    .index-page__small-circle--right {
        opacity: 0;
    }

    .main-page__title--bottom:hover ~ .index-page__small-circle--bottom,
    .main-page__title--top:hover ~ .index-page__small-circle--top,
    .main-page__title--left:hover ~ .index-page__small-circle--left,
    .main-page__title--right:hover ~ .index-page__small-circle--right {
        border-width: 4800px;
        animation: transform-border 0.7s ease-out;
        opacity: 1;
    }
    .main-page__title--bottom:hover ~ .index-page__img--bottom,
    .main-page__title--top:hover ~ .index-page__img--top,
    .main-page__title--left:hover ~ .index-page__img--left,
    .main-page__title--right:hover ~ .index-page__img--right {
        visibility: visible;
    }
    .main-page__title--bottom:hover
        ~ .index-page__small-circle--bottom.link-opened,
    .main-page__title--top:hover ~ .index-page__small-circle--top.link-opened,
    .main-page__title--left:hover ~ .index-page__small-circle--left.link-opened,
    .main-page__title--right:hover
        ~ .index-page__small-circle--right.link-opened {
        border-width: 0;
        animation: transform-border-next 0.5s ease-out;
        opacity: 1;
    }
    .main-page__title--bottom:hover
        ~ .index-page__big-circle--bottom.link-opened,
    .main-page__title--top:hover ~ .index-page__big-circle--top.link-opened,
    .main-page__title--left:hover ~ .index-page__big-circle--left.link-opened,
    .main-page__title--right:hover
        ~ .index-page__big-circle--right.link-opened {
        border-width: 5000px;
        animation: transform-border-big 0.4s;
        opacity: 1;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1500px) {
    .index-page__img--right {
        left: calc(100vw - 840px);
    }
}

@keyframes transform-border {
    from {
        border-width: 5000px;
    }
    to {
        border-width: 4800px;
    }
}

@keyframes transform-border-next {
    from {
        border-width: 4800px;
    }
    to {
        border-width: 5000px;
    }
}

@keyframes transform-border-big {
    from {
        border-width: 0;
    }
    to {
        border-width: 5000px;
    }
}
