.todos-board-container {
    box-sizing: border-box;
    min-height: 70vh;
    border: 2px solid var(--base-gold);
    border-top: none;
    padding: 4px;
    margin: 0 10px;
    border-radius: 0 0 12px 12px;
}

.todos-board-container--1 .btn--previous,
.todos-board-container--5 .btn--next {
    /* pointer-events: none;
  opacity: 0; */
    display: none;
}

.todos-board-container--1 .board-card__changes,
.todos-board-container--5 .board-card__changes {
    justify-content: center;
}
