.neolist__container {
    margin-left: 30%;
}

@media screen and (max-width: 1000px) {
    .neolist__container {
        margin-left: 20%;
    }
    .makeStyles-root-1 {
        width: 80% !important;
    }
}
@media screen and (max-width: 600px) {
    .neolist__container {
        margin-left: 5%;
    }
    .makeStyles-root-1 {
        width: 90% !important;
    }
}
