:root {
    --black: #191919;
    --dim-gray: #696969;
    --light-gray: #778899;
    --white: white;
    --edit-color: #ffc107;
}

:root {
    --base-aquamarine: #b0c4de;
    --base-pink: #ff4ff4;
    --base-cyan: #36ffe9;
    --base-gold: #cca716;
    --base-darkkhaki: #b3941d;
}

.link {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--base-gold);
}

.link:hover {
    text-decoration: underline;
    color: var(--base-darkkhaki);
}
