.mediacard {
    max-width: 350px;
    width: 100%;
    max-height: 500px;
    margin: 0 auto;
    background-color: #f5deb3;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border: 1px solid black;
}

.mediacard__title {
    width: 100%;
    min-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.mediacard__circle {
    border: 2px solid gray;
    color: gray;
    border-radius: 12px;
    display: inline-block;
    margin-right: 32px;
    padding: 4px;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
}

.mediacard__text {
    padding: 2px 10px;
}

.mediacard__text--updated {
    background-color: rgba(220, 220, 220, 0.2);
    opacity: 0.9;
    font-style: italic;
    border-radius: 12px;
    color: 128, 128, 128;
    border: 1px solid rgba(128, 128, 128);
}
