.todo-li {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.todo-item {
    font-size: 22px;
    color: black;
    width: 100%;
}

.todo-item--done {
    text-decoration: line-through;
    color: gray;
}
