.nasa-container__header {
    color: #1e90ff;
    text-align: center;
    margin: 0;
}

.nasa-container_footer {
    text-align: right;
    padding-right: 20%;
    margin-bottom: -10px;
}

.nasa-container .link--nasa {
    opacity: 0.3;
    pointer-events: none;
}
