.moving-cursor__block {
    display: none;
}

@media only screen and (min-width: 960px) {
    .moving-cursor__block {
        display: block;
    }
    .moving--cursor__item {
        pointer-events: none;
        height: 24px;
        width: 24px;
        position: fixed;
        border-radius: 50%;
        border: 1px solid wheat;
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
        -webkit-animation: opacity_animation 1s infinite;
        /* Safari 4+ */
        -moz-animation: opacity_animation 1s infinite;
        /* Fx 5+ */
        -o-animation: opacity_animation 1s infinite;
        /* Opera 12+ */
        animation: opacity_animation 1s infinite;
        /* IE 10+, Fx 29+ */
    }
    #moving--cursor__item--A {
        background: red;
        transition: 0.1s ease-out;
    }
    #moving--cursor__item--B {
        background: orange;
        transition: 0.15s ease-out;
    }
    #moving--cursor__item--C {
        background: yellow;
        transition: 0.2s ease-out;
    }
    #moving--cursor__item--D {
        background: green;
        transition: 0.25s ease-out;
    }
    #moving--cursor__item--E {
        background: gray;
        transition: 0.3s ease-out;
    }
    #moving--cursor__item--F {
        background: blue;
        transition: 0.35s ease-out;
    }
    #moving--cursor__item--G {
        background: blueviolet;
        transition: 0.4s ease-out;
    }
}

@keyframes opacity_animation {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0.7;
    }
    30% {
        opacity: 0.4;
    }
    40% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.1;
    }
    60% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.7;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
