.main-mob-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #afeeee;
}

.main-mob-block-link {
    font-size: 64px;
    color: whitesmoke;
    -webkit-text-stroke: 2px #008080;
    text-shadow: #008080 0 0 2px;
    padding: 0 32px;
}

.main-mob-block-link:hover {
    text-decoration: none;
}

.main-mob-block-link--center {
    margin: 20vh 0;
}

.main-mob-block .main-mob-block-link:first-child {
    align-self: flex-start;
}

.main-mob-block .main-mob-block-link:last-child {
    align-self: flex-end;
}

.main-mob-block-link--hidden {
    display: none;
}

@media only screen and (min-width: 960px) {
    .main-mob-block {
        display: none;
    }
}
