.comments {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    min-height: 100vh;
}

.comments .link--comments {
    opacity: 0.3;
    pointer-events: none;
}

.comments-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}

@media only screen and (min-width: 760px) {
    .comments-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 1050px) {
    .comments-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 1400px) {
    .comments-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
