.board {
    /* background: url(https://i.ytimg.com/vi/hF_LjTUvP-U/maxresdefault.jpg);
  background: url(http://hdwpro.com/wp-content/uploads/2016/01/Butterfly-Wallpapers.jpg); 
  background-size: cover; */
    background: linear-gradient(#e66465, #9198e5);
    width: 100%;
    height: 100vh;
}

.board .link--board {
    opacity: 0.3;
    pointer-events: none;
}
